ul {
  list-style: none;
}

.menu {
  background-color: red;
  width: 45%;
  margin: 10px;
}

body {
  width: 1024px;
  margin: auto;
}

.menus {
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  width: 680px;
}
